<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home style-logout">
      <header>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                <%include file="index_overlay.html" />
              % endif
            </div>
            % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="course-search">
                <form method="get" action="/courses">
                  <!-- UPDATE IN INDIGO2.1 - Change the structure for search bar  -->
                  <div class="search-field-wrapper">
                    <div class="button-holder">
                      <button class="search-button" type="submit">
                        ${_("Search")}
                      </button>
                    </div>
                    <label class="input-holder"><span class="search_query"></span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z" fill="#9CA3AF"></path>
                        </svg>
                      <input class="search-input" name="search_query" type="text" placeholder="${_("Buscar un curso")}"></input>
                    </label>
                  </div>
                </form>
              </div>
            % endif

          </div>

          <%include file="index_promo_video.html" />
        </div>

      </header>

    </section>
</main>
<div class="home-container">
  <div class="universities-grid">
  <h2 class="new-title">Universidades Coordinadoras</h2>
     <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UAH" rel="noopener">
              <img src="${static.url('images/logo_uah.png')}" alt="Universidad de Alcalá">
          </a>
      </div>
       <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UAH" rel="noopener">
              <img src="${static.url('images/logo_um.png')}" alt="Universidad de Murcia">
          </a>
      </div>
       <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UAH" rel="noopener">
              <img src="${static.url('images/logo_us.png')}" alt="Universidad de Sevilla">
          </a>
      </div>
  </div>
  <h2 class="new-title">Universidades Colaboradoras</h2>
  <div class="universities-grid">
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UAH" rel="noopener">
              <img src="${static.url('images/logo_uah.png')}" alt="Universidad de Alcalá">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UAM" rel="noopener">
              <img src="${static.url('images/logo_uam.png')}" alt="Universidad Autónoma de Madrid">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UGR" rel="noopener">
              <img src="${static.url('images/logo_granada.png')}" alt="Universidad de Granada">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=US" rel="noopener">
              <img src="${static.url('images/logo_sevilla.png')}" alt="Universidad de Sevilla">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UPNA" rel="noopener">
              <img src="${static.url('images/logo_upna.png')}" alt="Universidad Pública de Navarra">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UEx" rel="noopener">
              <img src="${static.url('images/logo_extremadura.jpg')}" alt="Universidad de Extremadura">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=URJC" rel="noopener">
              <img src="${static.url('images/logo_reyjuancarlos.png')}" alt="Universidad Rey Juan Carlos">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UC3M" rel="noopener">
              <img src="${static.url('images/logo_uc3m.jpg')}" alt="Universidad Carlos III de Madrid">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UNNE" rel="noopener">
              <img src="${static.url('images/logo_nebrija.png')}" alt="Universidad Nebrija">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UV" rel="noopener">
              <img src="${static.url('images/logo_valencia.png')}" alt="Universitat de València">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=EHU" rel="noopener">
              <img src="${static.url('images/logo_ehu.png')}" alt="Universidad del País Vasco">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UBU" rel="noopener">
              <img src="${static.url('images/logo_ubu.png')}" alt="Universidad de Burgos">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UC" rel="noopener">
              <img src="${static.url('images/logo_uc.png')}" alt="Universidad de Cantabria">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UCM" rel="noopener">
              <img src="${static.url('images/logo_ucm.png')}" alt="Universidad Complutense de Madrid">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UCLM" rel="noopener">
              <img src="${static.url('images/logo_uclm.png')}" alt="Universidad de Castilla - La Mancha">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UDC" rel="noopener">
              <img src="${static.url('images/logo_udc.png')}" alt="Universidade da Coruña">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UdG" rel="noopener">
              <img src="${static.url('images/logo_udg.png')}" alt="Universitat de Girona">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UMA" rel="noopener">
              <img src="${static.url('images/logo_uma.png')}" alt="Universidad de Málaga">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UNED" rel="noopener">
              <img src="${static.url('images/logo_uned.png')}" alt="Universidad Nacional de Educación a Distancia">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=Uniovi" rel="noopener">
              <img src="${static.url('images/logo_uniovi.png')}" alt="Universidad de Oviedo">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UNIZAR" rel="noopener">
              <img src="${static.url('images/logo_unizar.png')}" alt="Universidad de Zaragoza">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UPM" rel="noopener">
              <img src="${static.url('images/logo_upm.png')}" alt="Universidad Politécnica de Madrid">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UPO" rel="noopener">
              <img src="${static.url('images/logo_upo.png')}" alt="Universidad Pablo Olavide">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UVa" rel="noopener">
              <img src="${static.url('images/logo_uva.png')}" alt="Universidad de Valladolid">
          </a>
      </div>
      <div class="university">
          <a href="${reverse('courses')}?filtertype=org&filterquery=UFV" rel="noopener">
              <img src="${static.url('images/logo_ufv.png')}" alt="Universidad Francisco de Vitoria">
          </a>
      </div>
  </div>
</div>
    
% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
