<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home style-logout">
      <header>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                <%include file="index_overlay.html" />
              % endif
            </div>
              
          </div>

          <%include file="index_promo_video.html" />
        </div>

      </header>

    </section>
</main>
<div class="home-container">
  <h2 class="new-title">Universidades coordinadoras</h2>
  <div class="universities-grid">
     <div class="university">
          <a href="http://uah.es/" rel="noopener">
              <img src="${static.url('images/logo_uah.png')}" alt="Universidad de Alcalá">
          </a>
      </div>
       <div class="university">
          <a href="https://www.um.es/" rel="noopener">
              <img src="${static.url('images/logo_um.png')}" alt="Universidad de Murcia">
          </a>
      </div>
       <div class="university">
          <a href="http://www.us.es/" rel="noopener">
              <img src="${static.url('images/logo_sevilla.png')}" alt="Universidad de Sevilla">
          </a>
      </div>
  </div>
  <h2 class="new-title">Universidades colaboradoras</h2>
  <div class="universities-grid">
      <div class="university">
          <a href="https://www.uam.es/" rel="noopener">
              <img src="${static.url('images/logo_uam.png')}" alt="Universidad Autónoma de Madrid">
          </a>
      </div>
      <div class="university">
          <a href="https://www.ubu.es/" rel="noopener">
              <img src="${static.url('images/logo_ubu.png')}" alt="Universidad de Burgos">
          </a>
      </div>
      <div class="university">
          <a href="https://web.unican.es/" rel="noopener">
              <img src="${static.url('images/logo_uc.png')}" alt="Universidad de Cantabria">
          </a>
      </div>
      <div class="university">
          <a href="https://www.udc.es/" rel="noopener">
              <img src="${static.url('images/logo_udc.png')}" alt="Universidade da Coruña">
          </a>
      </div>
      <div class="university">
          <a href="https://www.uc3m.es/" rel="noopener">
              <img src="${static.url('images/logo_uc3m.jpg')}" alt="Universidad Carlos III de Madrid">
          </a>
      </div>
      <div class="university">
          <a href="https://www.uclm.es/" rel="noopener">
              <img src="${static.url('images/logo_uclm.png')}" alt="Universidad de Castilla - La Mancha">
          </a>
      </div>
      <div class="university">
          <a href="https://www.ucm.es/" rel="noopener">
              <img src="${static.url('images/logo_ucm.png')}" alt="Universidad Complutense de Madrid">
          </a>
      </div>
      <div class="university">
          <a href="http://www.uco.es/" rel="noopener">
              <img src="${static.url('images/logo_uco.png')}" alt="Universidad de Córdoba>
          </a>
      </div>
      <div class="university">
          <a href="https://www.unex.es/" rel="noopener">
              <img src="${static.url('images/logo_extremadura.jpg')}" alt="Universidad de Extremadura">
          </a>
      </div> 
      <div class="university">
          <a href="https://www.ufv.es/" rel="noopener">
              <img src="${static.url('images/logo_ufv.png')}" alt="Universidad Francisco de Vitoria">
          </a>
      </div>
      <div class="university">
          <a href="https://www.udg.edu/ca/" rel="noopener">
              <img src="${static.url('images/logo_udg.png')}" alt="Universitat de Girona">
          </a>
      </div>
      <div class="university">
          <a href="https://www.ugr.es/" rel="noopener">
              <img src="${static.url('images/logo_granada.png')}" alt="Universidad de Granada">
          </a>
      </div>
      <div class="university">
          <a href="https://www.ujaen.es/" rel="noopener">
              <img src="${static.url('images/logo_ujaen.png')}" alt="Universidad de Jaén">
          </a>
      </div>
      <div class="university">
          <a href="https://www.ulpgc.es/" rel="noopener">
              <img src="${static.url('images/logo_ulpgc.png')}" alt="Universidad de Las Palmas de Gran Canaria">
          </a>
      </div>
      <div class="university">
          <a href="https://www.unileon.es/" rel="noopener">
              <img src="${static.url('images/logo_unileon.png')}" alt="Universidad de León">
          </a>
      </div>
      <div class="university">
          <a href="https://www.uma.es/" rel="noopener">
              <img src="${static.url('images/logo_uma.png')}" alt="Universidad de Málaga">
          </a>
      </div>
      <div class="university">
          <a href="https://www.uned.es/" rel="noopener">
              <img src="${static.url('images/logo_uned.png')}" alt="Universidad Nacional de Educación a Distancia">
          </a>
      </div>
      <div class="university">
          <a href="https://www.nebrija.com/" rel="noopener">
              <img src="${static.url('images/logo_nebrija.png')}" alt="Universidad Nebrija">
          </a>
      </div>
      <div class="university">
          <a href="https://www.uniovi.es/" rel="noopener">
              <img src="${static.url('images/logo_uniovi.png')}" alt="Universidad de Oviedo">
          </a>
      </div>
      <div class="university">
          <a href="https://www.upo.es/" rel="noopener">
              <img src="${static.url('images/logo_upo.png')}" alt="Universidad Pablo Olavide">
          </a>
      </div>
      <div class="university">
          <a href="https://www.ehu.eus/" rel="noopener">
              <img src="${static.url('images/logo_ehu.png')}" alt="Universidad del País Vasco">
          </a>
      </div>
      <div class="university">
          <a href="https://www.upct.es/" rel="noopener">
              <img src="${static.url('images/logo_upct.png')}" alt="Politécnica de Cartagena">
          </a>
      </div>
      <div class="university">
          <a href="https://www.upm.es/" rel="noopener">
              <img src="${static.url('images/logo_upm.png')}" alt="Universidad Politécnica de Madrid">
          </a>
      </div>
      <div class="university">
          <a href="http://www.unavarra.es/" rel="noopener">
              <img src="${static.url('images/logo_upna.png')}" alt="Universidad Pública de Navarra">
          </a>
      </div>
      <div class="university">
          <a href="https://www.urjc.es/" rel="noopener">
              <img src="${static.url('images/logo_reyjuancarlos.png')}" alt="Universidad Rey Juan Carlos">
          </a>
      </div>
      <div class="university">
          <a href="https://www.usal.es/USAL-1" rel="noopener">
              <img src="${static.url('images/logo_usal.png')}" alt="Universidad de Salamanca">
          </a>
      </div>
      <div class="university">
          <a href="https://www.uv.es/" rel="noopener">
              <img src="${static.url('images/logo_valencia.png')}" alt="Universitat de València">
          </a>
      </div>
      <div class="university">
          <a href="https://www.uva.es/" rel="noopener">
              <img src="${static.url('images/logo_uva.png')}" alt="Universidad de Valladolid">
          </a>
      </div>
      <div class="university">
          <a href="https://www.uvigo.gal/es" rel="noopener">
              <img src="${static.url('images/logo_uvigo.png')}" alt="Universidad de Vigo">
          </a>
      </div>  
      <div class="university">
          <a href="http://www.unizar.es/" rel="noopener">
              <img src="${static.url('images/logo_unizar.png')}" alt="Universidad de Zaragoza">
          </a>
      </div> 
  </div>
</div>
    
% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
